@using POSTerminal.Services
@inject IESPPostService EspPostService
@inject IOrganisationService OrganisationService

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iclaboratory dashboard</title>
  <link rel="shortcut icon" type="image/png" href="~/images/logos/favicon.png" />
  <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a asp-action="Index" asp-controller="Dashboard" class="text-nowrap logo-img">
            <img src="~/images/logos/dark-logo.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Главная</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-action="Index" asp-controller="Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Дашборд</span>
              </a>
            </li>
            
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Сервисы</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-action="News" asp-controller="Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Новости сервиса</span>
              </a>
            </li>
            <li class="sidebar-item">
                          <a class="sidebar-link" asp-action="Notifications" asp-controller="Dashboard" aria-expanded="false">
                            <span>
                              <i class="ti ti-aperture"></i>
                            </span>
                            <span class="hide-menu">Оповещения</span>
                          </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Аккаунт</span>
            </li>
            @* <li class="sidebar-item"> *@
            @*   <a class="sidebar-link" asp-action="AuthenticationLogin" asp-controller="Dashboard" aria-expanded="false"> *@
            @*     <span> *@
            @*       <i class="ti ti-login"></i> *@
            @*     </span> *@
            @*     <span class="hide-menu">Авторизация</span> *@
            @*   </a> *@
            @* </li> *@
            @* <li class="sidebar-item"> *@
            @*   <a class="sidebar-link" asp-action="AuthenticationRegister" asp-controller="Dashboard" aria-expanded="false"> *@
            @*     <span> *@
            @*       <i class="ti ti-user-plus"></i> *@
            @*     </span> *@
            @*     <span class="hide-menu">Регистрация</span> *@
            @*   </a> *@
            @* </li> *@
            @* *@
            @* <li class="nav-small-cap"> *@
            @*   <i class="ti ti-dots nav-small-cap-icon fs-4"></i> *@
            @*   <span class="hide-menu">Выход</span> *@
            @* </li> *@
            <li class="sidebar-item">
              <a class="sidebar-link" asp-action="Index" asp-controller="Home" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Вернуться на сайт</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              @* <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Download Free</a> *@
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="~/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a asp-action="AuthenticationLogin" asp-controller="Dashboard" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="mb-4">
                  <h5 class="card-title fw-semibold">Отслеживаемый контейнер</h5>
                </div>
                <ul class="timeline-widget mb-0 position-relative mb-n5">
                @foreach (var espItem in EspPostService.GetPostItems()
                            .Where(x => x.OrgsTag == "ICL")
                            .OrderByDescending(n => n.TimeStamp).Take(6))
                {
                  <li class="timeline-item d-flex position-relative overflow-hidden">
                    <div class="timeline-time text-dark flex-shrink-0 text-end">@espItem.TimeStamp.ToString("HH:mm")</div>
                    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                      <span class="timeline-badge border-2 border border-@espItem.LevelStringColor flex-shrink-0 my-8"></span>
                      <span class="timeline-badge-border d-block flex-shrink-0"></span>
                    </div>
                    <div class="timeline-desc fs-3 text-dark mt-n1">Уровень наполненности<br/> @espItem.Level %</div>
                  </li>
                }
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Все контейнеры</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">ID</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Название</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Организация</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Наполненность</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    @foreach (var orgsItem in OrganisationService.GetOrganisationItems())
                    {
                      foreach (var espItem in EspPostService.GetPostItems()
                                 .OrderByDescending(n => n.TimeStamp)
                                 .Where(x => x.OrgsTag == orgsItem.OrgsTag).Take(1))
                      {
                        <tr>
                          <td class="border-bottom-0"><h6 class="fw-semibold mb-0">1</h6></td>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">@espItem.ESPName</h6>
                            <span class="fw-normal">423525</span>
                          </td>
                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">@orgsItem.Name</p>
                          </td>
                          <td class="border-bottom-0">
                            <div class="d-flex align-items-center gap-2">
                              <span class="badge bg-@espItem.LevelStringColor rounded-3 fw-semibold">@espItem.LevelString</span>
                            </div>
                          </td>
                        </tr>
                      }
                    }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/sidebarmenu.js"></script>
  <script src="~/js/app.min.js"></script>
  <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
  <script src="~/lib/simplebar/dist/simplebar.js"></script>
  <script src="~/js/dashboard.js"></script>
</body>

</html>
